.rodape {
  background-color: #333; /* Cor de fundo da barra do rodapé */
  color: #fff; /* Cor do texto da barra do rodapé */
  padding: 20px; /* Espaçamento interno da barra do rodapé */
  text-align: center; /* Centralizar o conteúdo horizontalmente */
  left: 0; /* Alinhar à esquerda */
  bottom: 0; /* Alinhar na parte inferior */
  width: 100%; /* Largura total da página */
  height: 50px;
  position: relative;
}

.seta-rodape {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}


.expandido {
  height: 50vh; /* Altura do rodapé expandido, nesse caso, 50% da altura da janela do navegador */
  transition: height 0.5s; /* Adicionar uma transição suave para a animação */
}

