/* Estilos para a navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .navbar a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
  }

  /* Estilos para o mapa */
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* Estilos para a seta e lista de itens */
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
  }

  .arrow img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
  }

  .arrow:hover img {
    transform: rotate(180deg);
  }

  .item-list {
    display: none;
    background-color: #f2f2f2;
    padding: 10px;
    transition: margin-top 0.3s;
  }

  .item-list.open {
    margin-top: -200px;
  }

  .item-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item-list li {
    margin-bottom: 10px;
  }